

.nav{text-align: right;}
.nav1{color:black}
.main1{text-align: center;}

.main2{text-align: center;}
.main2a{color: black;}
.main2a:nth-child(1){border: 1px solid white;
                      border-radius: 10px;
                      background-color: #E6E6E6;
                      opacity: 0.4;
                      padding: 14px;}

.main2a:nth-child(2){border: 1px solid white;
                      border-radius: 10px;
                      background-color: #E6E6E6;
                      opacity: 0.4;
                      padding: 14px;}

.main3{text-align: center;}

.footer1{color: black;
         width: 100%;
         border: 0.5px solid grey;
         background-color: #E6E6E6;
         opacity: 0.4;
         padding: 14px;
         text-align: justify;}

.footer2{display: flex;

         border: 0.5px solid grey;
         background-color: #E6E6E6;
         opacity: 0.4;
         padding: 14px;}
.footer2a{margin:auto;color: black;}

.footer2a:nth-child(4)
{width: 30%}


  /*justify-content: left;
  justify-content: space-around;}*/
